<div class="container">
<h1 class="companyHOne">Create New Company</h1>
<form class="newcompform" ng-submit="companiesNew.create()">
  <div class="form-group ncfg">
    <input class="form-control ncf" type="text" name="company name" ng-model="companiesNew.company.name" placeholder="Company Name">
  </div>
  <div class="form-group ncfg">
    <input class="form-control ncf" type="text" name="description" ng-model="companiesNew.company.description" placeholder="Company Description">
  </div>
  <div class="form-group ncfg">
    <input class="form-control ncf" type="text" name="website" ng-model="companiesNew.company.website" placeholder="Company website">
  </div>
  <input class="btn btn-primary newCompSubmit" type="submit" value="Get started" />
</form>
</div>
