<!-- {{ companiesShow.company}} -->
<!-- <h1><span>{{companiesShow.company.name}}</span> ideas page</h1>
<p>{{ companiesShow.company.description }}</p>
<a href="">{{ companiesShow.company.website }}</a>

<ul>
  <li ng-repeat="idea in companiesShow.company.ideas">
    <h2>{{ idea.idea }}</h2>
  </li>
</ul> -->
<!--
<ul>
  <li ng-repeat="idea in companyShow.company.ideas">
  </li>
</ul> -->
<h1><span>{{companiesShow.company.name}}</span> ideas page</h1>
 <form ng-submit="companiesShow.addIdea()">
   <input type="text" ng-model="companiesShow.idea.idea">
   <input type="submit" value="create idea" class="btn btn-default createIdeaBtn">
   <!-- <input type="submit" value="Create Idea"> -->
</form>
<hr />
<ul class="list-unstyled">
  <li ng-repeat="idea in companiesShow.company.ideas">
    <p ui-sref="Idea({id: idea._id})">{{idea.idea}}</p>
    <p>upvotes: <span>{{ idea.upvotes.length }}</span></p>
    <p>downvotes: <span>{{ idea.downvotes.length }}</span></p>
    <div class="btn-group pull-right" role="group" aria-label="...">
      <span>{{count}}</span>
      <button class="btn btn-default" ng-click="companiesShow.upvote(idea._id)">Up
      </button>
      <button class="btn btn-default" ng-click="companiesShow.downvote(idea._id)">Down</button>
    </div>
  </li>
</ul>
