<div class="container">
  <h1 class="username"> Welcome, <strong>{{ usersShow.user.username }}</strong></h1>

  {{usersShow.companyData}}

  <div class="companies">
    <h2>Your businesses</h2>
    <ul>
      <li ng-repeat="item in usersShow.items">
        <div class="row">
          <div class="col-md-4">
            <h4>Business:</h4>
          </div>
          <div class="col-md-4">
            <h4>{{ item.name }}</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <h4>Description:</h4>
          </div>
          <div class="col-md-4">
            <h4>{{ item.description }}</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <h4>Website:</h4>
          </div>
          <div class="col-md-4">
            <h4>{{ item.website }}</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <h4>Created on:</h4>
          </div>
          <div class="col-md-4">
            <h4>{{ item.createdAt }}</h4>
          </div>
        </div>

        <!-- Will insert other data here, once ideas are seeded. -->
      </li>
    </ul>
  </div>
</div>
