<div class="container">
  <h1 class="username"> Welcome, <strong> {{ usersShow.user.username }}</strong></h1>

  






  <div class="companies">
    <ul>
      <h4>My companies</h4>
      <li ng-repeat="item in usersShow.items">
        <div class="business panel">
          <div class="row">
            <div class="col-md-6">
                <h4>{{ item.name }}</h4>
            </div>
            <div class="col-md-6">
                <h4>
                  <a ui-sref="companyDashBoard( { id: item.owner, company_id: item._id})">View dashboard</a>
                </h4>
            </div>
          </div>
        </div>
        <!-- Will insert other data here, once ideas are seeded. -->
      </li>
    </ul>
  </div>
</div>
