<!-- User update -->
<section class="users-update">
<div class="container">
  <h1>Edit Your Profile</h1>
  <form ng-submit="edit.edit()">
    <div class="form-group ncfg">
      <input class="form-control ncf" type="text" name="name" ng-model="edit.user.username" placeholder="Username">
    </div>
    <div class="form-group ncfg">
      <input class="form-control ncf" type="text" name="description" ng-model="edit.user.email" placeholder="email">
    </div>
    <input class="btn btn-default newCompSubmit" type="submit" value="Submit" />
  </form>
</div>
</section>
