section.companiesShow {
.companyName{
  position: relative;
  text-align: center;
  text-transform: capitalize;
}
.companyLogo {
    width: 100px;
    height: 100px;
    display: block;
    background-size: contain;
    border-radius: 50%;
  }
  .ideasAuthor{
    text-transform: capitalize;
  }
  li {
    list-style-type: none;
  }
}
