section.companiesShow {
.companyName{
  position: relative;
  text-align: center;
  text-transform: capitalize;
}
.companyLogo {
    top:  20px ;
    width: 150px;
    height: 150px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    position: relative;
    h1{
      text-align: center;
    }
  }
  .ideasAuthor{
    text-transform: capitalize;
  }
  li {
    list-style-type: none;
  }
}
