section.home {
  text-align: center;
  .intro {
    background-color: $primary-color;
    color: $white;
    text-align: center;
    margin: auto;
    padding: 105px 0;
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2rem;
    }
  }
  .info {
    padding: 100px;
    text-align: center;
    h2 {
      font-size: 2rem;
    }
  }
  .contact {
    padding: 50px;
    text-align: center;
  }
  h4 {
    text-align: left;
  }
}
