section.usersShow {
  text-align: center;
  h4{
    padding-top: 5px;
    font-size: 25px;
  }
  .userShowBtn {
    padding: 1rem 3rem;
    margin: 5px
  }
  // Almost duplicate of the layout for companies Index
  .companies {
    .companyLogo{
      height: 225px;
      width: 225px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }
  .userLogo{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    border-radius: 50%;
  }
  margin: 0 auto;
}
