section.usersShow {
  text-align: center;

  // Almost duplicate of the layout for companies Index
  .companies {
    .companyLogo{
      height: 200px;
      width: 200px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  margin: 0 auto;
}
