<section class="home">
  <section class="intro">
    <div class="container">
      <h1>Speak your mind</h1>
      <h2>The anonymous way to collect employee suggestions</h2>
      <a ui-sref="register" class="btn btn-primary btn-lg">Register</a>
    </div>
  </section>
  <div class="info">
    <div class="container">
      <h2>What can you do with Input?</h2>
      <br>
      <ul class="list-unstyled">
        <li><u>As an employer you can</u></li>
        <li>Listen to your employees ideas</li>
        <li>Boost employee participation and retention</li>
        <li>Use our analysis tools in your dashboard to sort through and select ideas</li>
        <br>
        <li>As an employee you can</li>
        <li>Put forward your ideas to be seen and voted on company wide.</li>
        <li>Upvote and downvote colleague ideas.</li>
      </ul>
    </div>
  </div>
  <section class="contact">
    <div class="container">
      <p>Contact us: <a href="#" class="email">info@input.com</a></p>
    </div>
  </section>
</section>
