<section class="home">
  <section class="intro">
    <div class="container">
      <h1>Speak your mind</h1>
      <h2>The anonymous way to collect suggestions from
      <typer words="['your employees', 'your friends', 'your members', 'the public']" type-time='80' backspace-time='100' start-delay='1500' ></typer> </h2>
      <a ui-sref="register" class="btn btn-primary btn-lg">Register</a>
    </div>
  </section>
  <div class="info">
    <div class="container">
      <div class="row">
        <h2>Why Input?</h2>
        <br>
      </div>
      <div class="row">
        <div class="col-md-6">
            <h3>As an employer</h3>
            <br>
            <ul class="list-unstyled">
            <h4>Recieve honest, valuable feedback from employees and customers.</h4>
            <h4>Boost employee participation and retention.</h4>
            <h4>Use our analysis tools to easily track popular ideas.</h4>
          </ul>
        </div>
        <div class="col-md-6">
            <h3>As an employee</h3>
            <br>
            <ul class="list-unstyled">
            <h4>Put forward your ideas to be seen and voted on company wide.</h4>
            <h4>Make your voice heard, anonymously.</h4>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <section class="contact">
    <div class="container">
      <p>Contact us: <a href="#" class="email">info@input.com</a></p>
    </div>
  </section>
</section>
