<section class="home">
  <section class="intro">
    <div class="container">
      <h1>Speak your mind</h1>

      <h2>The anonymous way to collect suggestions from </h2>
      <h2><typer words="['your employees', 'your friends', 'your members', 'the public']" type-time='150' backspace-time='200' start-delay='1500' highlight-background='#83fd00'></typer> </h2>
      <a ui-sref="register" class="btn btn-primary btn-lg">Register</a>
    </div>
  </section>
  <div class="info">
    <div class="container">
      <h2>What you can do with Input?</h2>
      <ul class="list-unstyled">
        <li>Put forward your ideas to be seen company wide.</li>
        <li>Upvote/downvote colleague ideas.</li>
        <li>Other things you can do.</li>
        <li>Another reason why it's so good.</li>
        <li>Input is the best.</li>
      </ul>
    </div>
  </div>
  <section class="contact">
    <div class="container">
      <p>Contact us: <a href="#" class="email">info@input.com</a></p>
    </div>
  </section>
</section>
