.btn {
  font-family: $heading-font;
  size: 3rem;
  padding: 0.5rem 1.5rem;
  background-color: $secondary-color;
  border-color: $secondary-color;
  
  .btn-primary {
    background-color: $secondary-color;
    border-color: $secondary-color;
    color: $white;
    &:hover {
      color: $secondary-color;
    }
  }
}
