$primary-color:   #ca4445;
$secondary-color: #002b36;
$tertiary-color:  #f6fafd;
$accent-color:    #83fd00;
$white:           #ffffff;

$heading-font:    'Lato', sans-serif;
$body-font:       'Khula', sans-serif;
