body{
  background: #fafafa;

}

span {
  padding: 0 5px;
  border-radius: 5px;
  background: gray;
  color: #BADA55;
}

input {
  min-width: 300px;
}

.navbar-default {
height: 100px;
background-color: #93c47d;
border: none;
}

.bg-top {
  width: 980px;
  text-align: center;
  margin: auto;
  padding: 105px 0;
}

.bg-middle {
  background-color: #ff9707;
  padding: 100px;
}

.bg-bottom {
  background-color: #3abf8f;
}
 h1.home {
   font-size: 65px;
 }

 h2 {
   margin-bottom: 40px;
 }
