body {
  background-color: #EEE;
}

.bg-top {
  background-color: #fafafa;
  text-align: center;
  font-size: 45px;
}

.bg-middle {
  background-color: #ff9707;
}

.bg-bottom {
  background-color: #3abf8f;
}
