@import url('https://fonts.googleapis.com/css?family=Pangolin');
@import 'variables';


body{
  background: #fafafa;
  font-family: 'Pangolin', cursive;
}

span {
  padding: 0 5px;
  border-radius: 5px;
  background: gray;
  color: #BADA55;
}

input {
  min-width: 300px;
}

.navbar-default {
height: 80px;
background-color: #93c47d;
border: none;
margin-bottom: 0;
}

.navbar-brand {
  line-height: 60px;
}

a.navbar-brand {
  font-size: 57px;
}

.navbar-default .navbar-nav > li > a {
  font-size: 20px;
  line-height: 65px;
}

.bg-top {
  width: 980px;
  text-align: center;
  margin: auto;
  padding: 105px 0;
}

.bg-middle {
  background-color: #ff9707;
  padding: 100px;
}

.bg-bottom {
  background-color: #3abf8f;
}

 h1.home {
   font-size: 65px;
 }

 h2 {
   margin-bottom: 40px;
 }
.companyHOne {
  text-align: center;
  color: #ff9707;
}
.newCompanyBtn{
  display: block;
  text-align: center;
  font-style: italic;
}
.companyUl{
  width:600px;
  height:600px;
  margin: 0 auto;
  padding:0;
}
.companyLi{
  display: inline-block;
  height: 200px;
  width:200px;
  text-align: center;
  border-radius:10px;

}
.companyLi:hover{
  background: #BADA55;
}
.companyP {
  font-size:30px;
  position: relative;
  padding:70px 0;
  margin:0;
  color: #ff9707;
}
